button {
  border-radius: calc(var(--border-radius) * .8);
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: oklch(from var(--color-black) calc(l + .25) c h);
  color: var(--color-black-9);
  cursor: pointer;
}

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: .9rem;
  line-height: 1;
  font-weight: 500;
  height: 35px;
  width: fit-content;
}

.Button[data-appearance="text"] {
  background-color: transparent;
}