.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: .9rem;
  line-height: 1;
  font-weight: 500;
  height: 35px;
  width: fit-content;
}

.Button[data-appearance="text"] {
  background-color: transparent;
}