:root {
  font-family: "Noto Sans", sans-serif, Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  line-height: 1.5;

  color-scheme: light dark;
  color: var(--color-black-9);
  background-color: var(--color-black);
  margin: 0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-aqua: oklch(0.74 0.13 182.74);
  --color-black: oklch(0.10 0.00 0);
  --color-blue: oklch(0.79 0.14 219.16);
  --color-brown: oklch(0.75 0.08 48.10);
  --color-deepblue: oklch(0.65 0.19 262.02);
  --color-deeporange: oklch(0.65 0.24 31.75);
  --color-gray: oklch(0.61 0.00 0);
  --color-green: oklch(0.76 0.20 151.82);
  --color-greenyellow: oklch(0.79 0.21 129.21);
  --color-lavender: oklch(0.66 0.23 305.00);
  --color-mint: oklch(0.82 0.20 155.54);
  --color-orange: oklch(0.75 0.18 54.32);
  --color-pink: oklch(0.70 0.23 350.68);
  --color-purple: oklch(0.61 0.22 285.24);
  --color-red: oklch(0.65 0.24 19.70);
  --color-white: oklch(1.00 0.00 0);
  --color-yellow: oklch(0.86 0.18 88.96);

  --color-black-0: oklch(from var(--color-black) calc(l + .04) c h);
  --color-black-1: oklch(from var(--color-black) calc(l + .08) c h);
  --color-black-2: oklch(from var(--color-black) calc(l + .15) c h);
  --color-black-3: oklch(from var(--color-black) calc(l + .22) c h);
  --color-black-4: oklch(from var(--color-black) calc(l + .3) c h);
  --color-black-5: oklch(from var(--color-black) calc(l + .4) c h);
  --color-black-6: oklch(from var(--color-black) calc(l + .5) c h);
  --color-black-7: oklch(from var(--color-black) calc(l + .6) c h);
  --color-black-8: oklch(from var(--color-black) calc(l + .7) c h);
  --color-black-9: oklch(from var(--color-black) calc(l + .8) c h);
  --color-black-10: oklch(from var(--color-black) calc(l + .9) c h);

  --color-fore: var(--color-black-1);
  --color-back: var(--color-white);

  --border-radius: 12px;
  --nav-height: 40px;

  /* --z-index-header: 100; */
  --z-index-nav: 200;
  /* --z-index-sticky: 400; */
  /* --z-index-overlay: 500; */
  /* --z-index-modal: 600; */
  /* --z-index-toast: 700; */
  /* --z-index-tooltip: 800; */
  /* --z-index-popover: 900; */
  --z-index-dialog: 1000;
  --z-index-dropdown: 1100;
}

body[data-theme="dark"] {
  --color-aqua: oklch(0.85 0.14 184.20);
  /* --color-black: oklch(0.90 0.00 0); */
  --color-gray: oklch(0.58 0.00 0);
  --color-green: oklch(0.74 0.19 151.99);
  --color-greenyellow: oklch(0.88 0.22 127.19);
  /* --color-white: oklch(0.10 0.00 0); */
  --color-yellow: oklch(0.86 0.18 88.96);

  --color-fore: var(--color-black-9);
  --color-back: var(--color-black);
}

a {
  font-weight: 500;
  color: var(--color-deepblue);
  text-decoration: inherit;
}
a:hover {
  color: oklch(from var(--color-deepblue) calc(l - .1) c h);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* reset */
button,
fieldset,
input {
  all: unset;
}

input, textarea {
  border: 1px solid transparent;
  padding: 8px;
  font-size: .85rem;
  border-radius: calc(var(--border-radius) * .8);
}

input:focus, textarea:focus {
  border: 1px solid var(--color-deepblue);
  outline: 2px solid oklch(from var(--color-deepblue) l c h / 0.5);
}

textarea {
  font-family: "Noto Sans", sans-serif, Helvetica, Arial, sans-serif;
}

[data-component="loader-spinner-wrapper"] {
  height: 100%;
  transition-property: height, opacity;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
}

[data-component="loader-spinner"] {
  display: flex;
  align-items: center;

  svg {
    border-top-color: var(--color-deepblue);
    animation: spinner 1.5s linear infinite;
  }

  circle {
    animation: spinner-progress 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    stroke-linecap: round;
    fill: none;
  }
}

@keyframes spinner {
  0% { transform: rotate(-110deg); }
  20% { transform: rotate(-70deg); }
  60% { transform: rotate(90deg); }
  100% { transform: rotate(250deg); }
}

@keyframes spinner-progress {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  20% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  60% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
