.SelectTrigger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: calc(var(--border-radius) * .8);
  padding: 0 15px;
  font-size: .9rem;
  line-height: 1;
  height: 35px;
  width: fit-content;
  gap: 5px;
  background-color: var(--color-black-2);
  color: var(--color-black-8);
  transition: background-color 0.25s;
}
.SelectTrigger:hover {
  background-color: var(--color-black-3);
}
.SelectTrigger[data-placeholder] {
  color: var(--color-black-7);
}

.SelectIcon {
  color: var(--color-black-7);
}

.SelectContent {
  overflow: hidden;
  color: var(--color-black-8);
  border-radius: var(--border-radius);
  background-color: var(--color-black-2);
  border: 1px solid var(--color-black-3);
  padding: 4px;
  z-index: var(--z-index-dropdown);
}

.SelectViewport {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.SelectViewport [role="group"] {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.SelectViewport [role="option"] {
  border-radius: calc(var(--border-radius) * .5);
  padding: 4px 34px 4px 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: background-color 0.25s;
}

.SelectViewport [role="option"]:hover {
  background-color: var(--color-black-3);
}

.SelectViewport [role="option"][data-state="checked"] {
  background-color: oklch(from var(--color-green) l c h / 0.1);
  color: var(--color-green);
}

.SelectViewport [role="option"][data-state="checked"]:hover {
  background-color: oklch(from var(--color-green) l c h / 0.15);
  color: var(--color-green);
}

.SelectLabel {
  padding: 2px 10px;
  font-size: .8rem;
  line-height: 1;
  color: var(--color-black-6);
}

.SelectSeparator {
  height: 1px;
  background-color: var(--color-black-3);
  margin: 5px;
}

.SelectItemIndicator {
  position: absolute;
  right: 10px;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.SelectScrollButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  background-color: var(--color-black-3);
  color: var(--color-black-7);
  cursor: default;
}
