:root {
  font-family: "Noto Sans", sans-serif, Helvetica, Arial, sans-serif;;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  line-height: 1.5;

  color-scheme: light dark;
  color: var(--color-black-9);
  background-color: var(--color-back-2);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-aqua: oklch(0.74 0.13 182.74);
  --color-black: oklch(0.10 0.00 0);
  --color-blue: oklch(0.79 0.14 219.16);
  --color-brown: oklch(0.75 0.08 48.10);
  --color-deepblue: oklch(0.65 0.19 262.02);
  --color-deeporange: oklch(0.65 0.24 31.75);
  --color-gray: oklch(0.61 0.00 0);
  --color-green: oklch(0.76 0.20 151.82);
  --color-greenyellow: oklch(0.79 0.21 129.21);
  --color-lavender: oklch(0.66 0.23 305.00);
  --color-mint: oklch(0.82 0.20 155.54);
  --color-orange: oklch(0.75 0.18 54.32);
  --color-pink: oklch(0.70 0.23 350.68);
  --color-purple: oklch(0.61 0.22 285.24);
  --color-red: oklch(0.65 0.24 19.70);
  --color-white: oklch(1.00 0.00 0);
  --color-yellow: oklch(0.86 0.18 88.96);

  --color-black-0: oklch(from var(--color-black) calc(l + .04) c h);
  --color-black-1: oklch(from var(--color-black) calc(l + .08) c h);
  --color-black-2: oklch(from var(--color-black) calc(l + .15) c h);
  --color-black-3: oklch(from var(--color-black) calc(l + .2) c h);
  --color-black-4: oklch(from var(--color-black) calc(l + .3) c h);
  --color-black-5: oklch(from var(--color-black) calc(l + .4) c h);
  --color-black-6: oklch(from var(--color-black) calc(l + .5) c h);
  --color-black-7: oklch(from var(--color-black) calc(l + .6) c h);
  --color-black-8: oklch(from var(--color-black) calc(l + .7) c h);
  --color-black-9: oklch(from var(--color-black) calc(l + .8) c h);
  --color-black-10: oklch(from var(--color-black) calc(l + .9) c h);

  [data-theme="dark"] {
    --color-aqua: oklch(0.85 0.14 184.20);
    --color-black: oklch(0.90 0.00 0);
    --color-gray: oklch(0.58 0.00 0);
    --color-green: oklch(0.74 0.19 151.99);
    --color-greenyellow: oklch(0.88 0.22 127.19);
    --color-white: oklch(0.20 0.00 0);
    --color-yellow: oklch(0.86 0.18 88.96);
  }

  --c-border-radius: 12px;
}

a {
  font-weight: 500;
  color: var(--color-deepblue);
  text-decoration: inherit;
}
a:hover {
  color: oklch(from var(--color-deepblue) calc(l - .1) c h);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-black-3);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
